<form role="form">
    <div class="form-group">
        <label for="speaker">Speaker</label>
        <input type="text" class="form-control" id="speaker" placeholder="Enter speaker name" ng-model="talk.speaker">
    </div>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="talk.title">
    </div>

    <div class="form-group">
        <label for="title">Description</label>
        <input type="text" class="form-control" id="abstract" placeholder="Enter abstract" ng-model="talk.abstract">
    </div>

    <br>

    <button class="btn btn-success" ng-click="save()">Save</button>
    <!--<button ng-click="destroy()"
        ng-show="project.$remove" class="btn btn-danger">
        Delete</button>-->
</form>


    
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Speaker</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="talk in talks">
            <td>{{talk.speaker}}</td>
            <td>{{talk.title}}</td>
            <td>
                <a href="#/approve/{{talk._id}}">approve</a>
            </td>
        </tr>
    </tbody>
</table>
