<form name="myForm">
    <div class="control-group" >
        <label>Speaker</label>
        <input type="text" name="speaker" ng-model="talk.speaker" >
    </div>

    <div class="control-group">
        <label>Title</label>
        <input type="text" name="title" ng-model="talk.speaker" >
    </div>

    <label>Description</label>
    <textarea name="description" ng-model="talk.abstract"></textarea>

    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()">Save</button>
    <!--<button ng-click="destroy()"
        ng-show="project.$remove" class="btn btn-danger">
        Delete</button>-->
</form>

<table>
  <thead>
  <tr>
    <th>Speaker</th>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="talk in talks"> 
    <td>{{talk.speaker}}</td>
    <td>{{talk.title}}</td>
    <td>
      <a href="#/approve/{{project.$id}}">approve</a>
    </td>
  </tr>
  </tbody>
</table>